@namespace MME.Pages
@page "/"

@inject NavigationManager NavigationManager

<div class="home-container">
    <div class="hero-section">
        <h1 class="title">MME</h1>
        <h2 class="subtitle">MME</h2>
    </div>
</div>

@code {

}
